ENV=development
PORT_BACK=4000
DB_USER=vovinam_user
DB_PASSWORD=changeme
DB_NAME=vovinam_db
DB_PORT=5432

JWT_SECRET_KEY=changeme
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24
JWT_REFRESH_EXPIRATION_DAYS=3

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=changeme@example.com
SMTP_PASSWORD=changeme
SMTP_RECIPIENT=changeme@example.com
